<div class="container main-form" ng-if="!formComplete">
  <h3 class="text-center  italic">Help us understand what your brand stands for and how you want to bring it to life.</h3>
  <form name="brandForm" class="mid-form" ng-submit="submitBrandForm(formData)" ng-if="!formComplete">
    <h4>Basic Information</h4>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label> First Name</label>
          <input type="text" name="firstName" ng-model="formData.firstName" class="form-control" required aplha-only>
          <div class="error-msg" ng-if="brandForm.firstName.$invalid && brandForm.firstName.$touched">Please Enter Your First Name</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label> Middle Name</label>
          <input type="text" name="middleName" ng-model="formData.middleName" class="form-control" required aplha-only>
          <div class="error-msg" ng-if="brandForm.middleName.$invalid && brandForm.middleName.$touched">Please Enter Your Middle Name</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" name="lastName" ng-model="formData.lastName" class="form-control" required aplha-only>
          <div class="error-msg" ng-if="brandForm.lastName.$invalid && brandForm.lastName.$touched">Please Enter Your Last Name</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Company (If applicable)</label>
          <input type="text" name="company" ng-model="formData.company" class="form-control">
          <!--<div class="error-msg" ng-if="brandForm.company.$invalid && brandForm.company.$touched">Please Enter Your Company Name</div>-->
        </div>
      </div>
    </div>
    <h4>Getting Started</h4>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Does your brand have a name?</label>
          <div class="magic-form">
            <div class="magic-resize">
              <input class="magic-radio" type="radio" name="demos" id="ya" value="true" ng-model="formData.demos" ng-click="showpopup('y')">
              <label class="text" for="ya">
                        Yes
                     </label>
            </div>
            <div class="magic-resize">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos" ng-click="showpopup('n')">
              <label class="text" for="na">
                        No
                     </label>
            </div>
          </div>
          <div class="conditional-fields" ng-show="popup2">
            <div class="magic-form">
              <input type="text" class="form-control textbox-other" placeholder="Please enter your brand name. (If multiple options, please separate with a comma)">
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group forms">
          <label>What have you set out to accomplish with your brand?</label>
          <div class="magic-form">
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="need" ng-model="formData.accomplish.need" id="fulfill">
              <label class="text" for="fulfill">
                             Fulfill a need
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="Spread" ng-model="formData.accomplish.Spread" id="happiness">
              <label class="text" for="happiness">
                              Spread happiness
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="Promote" ng-model="formData.accomplish.Promote" id="living">
              <label class="text" for="living">
                            Promote healthy living
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="Provide" ng-model="formData.accomplish.Provide" id="enjoyment">
              <label class="text" for="enjoyment">
                              Provide entertainment and enjoyment
                            </label>
            </div>

            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="Create" ng-model="formData.accomplish.Create" id="awareness">
              <label class="text" for="awareness">
                             Create understanding and awareness
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="Inspire" ng-model="formData.accomplish.Inspire" id="creativity">
              <label class="text" for="creativity">
                            Inspire creativity and self-expression
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="care" ng-model="formData.accomplish.care" id="people">
              <label class="text" for="people">
                           Take care of people
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="Enable" ng-model="formData.accomplish.Enable" id="emotional">
              <label class="text" for="emotional">
                           Enable emotional connection
                            </label>
            </div>


            <div class="magic-resize resizing">
              <label>Other or if you want to elaborate:</label>
              <input type="text" class="form-control textbox-other" placeholder="Please mention other">
              <!--<input class="magic-checkbox" name="brandother" type="checkbox" value="bothers" id="brandother" ng-model="formData.brandother.bothers">
              <label class="labewidtxt" for="brandother">
                               Other:
                            </label>-->

            </div>
            <!--<input type="text" class="form-control textbox-other" placeholder="Please mention other" ng-if="formData.brandother.bothers">-->
          </div>
        </div>
      </div>
    </div>

    <h4> Brand characteristics</h4>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Which of the following characteristics best describe the personality you want your brand to have? (Choose as many as you please!)</label>
          <div class="magic-form">

            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value=" Unconventional" ng-model="formData.personality. Unconventional"
                id="unconvent">
              <label class="text" for="unconvent">
                            Unconventional
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="practical" ng-model="formData.personality.practical"
                id="practi">
              <label class="text" for="practi">
                           Practical
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Inventive" ng-model="formData.personality.Inventive"
                id="invent">
              <label class="text" for="invent">
                            Inventive
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Funny" ng-model="formData.personality.Funny" id="fun">
              <label class="text" for="fun">
                          Funny
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Leader" ng-model="formData.personality.Leader" id="lead">
              <label class="text" for="lead">
                           Leader
                            </label>
            </div>

            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Powerful" ng-model="formData.personality.Powerful"
                id="power">
              <label class="text" for="power">
                          Powerful
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Dependable" ng-model="formData.personality.Dependable"
                id="depend">
              <label class="text" for="depend">
                           Dependable
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Protective" ng-model="formData.personality.Protective"
                id="protect">
              <label class="text" for="protect">
                          Protective
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Creative" ng-model="formData.personality.Creative"
                id="create">
              <label class="text" for="create">
                         Creative
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Optimistic" ng-model="formData.personality.Optimistic"
                id="optimis">
              <label class="text" for="optimis">
                         Optimistic
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Nurturing" ng-model="formData.personality.Nurturing"
                id="nuture">
              <label class="text" for="nuture">
                       Nurturing
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Realistic" ng-model="formData.personality.Realistic"
                id="real">
              <label class="text" for="real">
                       Realistic
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Adventurous" ng-model="formData.personality.Adventurous"
                id="adventure">
              <label class="text" for="adventure">
                        Adventurous
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Entertaining" ng-model="formData.personality.Entertaining"
                id="entertain">
              <label class="text" for="entertain">
                        Entertaining
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Imaginative" ng-model="formData.personality.Imaginative"
                id="imagine">
              <label class="text" for="imagine">
                       Imaginative
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Artistic" ng-model="formData.personality.Artistic"
                id="art">
              <label class="text" for="art">
                        Artistic
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Truthful" ng-model="formData.personality.Truthful"
                id="truth">
              <label class="text" for="truth">
                     Truthful
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Mischievous" ng-model="formData.personality.Mischievous"
                id="mischief">
              <label class="text" for="mischief">
                      Mischievous
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Ambitious" ng-model="formData.personality.Ambitious"
                id="ambition">
              <label class="text" for="ambition">
                      Ambitious
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Helpful" ng-model="formData.personality.Helpful"
                id="help">
              <label class="text" for="help">
                     Helpful
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Innovative" ng-model="formData.personality.Innovative"
                id="innovate">
              <label class="text" for="innovate">
                     Innovative
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Functional" ng-model="formData.personality.Functional"
                id="function">
              <label class="text" for="function">
                    Functional
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Thoughtful" ng-model="formData.personality.Thoughtful"
                id="thought">
              <label class="text" for="thought">
                  Thoughtful
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Strong" ng-model="formData.personality.Strong" id="stro">
              <label class="text" for="stro">
                 Strong
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Wise" ng-model="formData.personality.Wise" id="wis">
              <label class="text" for="wis">
                 Wise
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Rebellious" ng-model="formData.personality.Rebellious"
                id="rebel">
              <label class="text" for="rebel">
                 Rebellious
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Liberating" ng-model="formData.personality.Liberating"
                id="libertae">
              <label class="text" for="libertae">
               Liberating
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Romantic" ng-model="formData.personality.Romantic"
                id="romance">
              <label class="text" for="romance">
             Romantic
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enthusiastic" ng-model="formData.personality.Enthusiastic"
                id="enthu">
              <label class="text" for="enthu">
             Enthusiastic
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Intimate" ng-model="formData.personality.Intimate"
                id="intim">
              <label class="text" for="intim">
           Intimate
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Simple" ng-model="formData.personality.Simple" id="simp">
              <label class="text" for="simp">
            Simple
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Brave" ng-model="formData.personality.Brave" id="brav">
              <label class="text" for="brav">
        Brave
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Honest" ng-model="formData.personality.Honest" id="hones">
              <label class="text" for="hones">
         Honest
                            </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group f30">
          <label>Do you see your Brand being more Feminine (1) or Masculine (10)?</label>
          <div class="magic-form">
            <label class="pull-left f11">Feminine</label>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="fm" id="fm1" value="fmone" ng-model="formData.fm">
              <label class="text" for="fm1">
                      1
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="fm" id="fm2" value="fmtwo" ng-model="formData.fm">
              <label class="text" for="fm2">
                      2
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="fm" id="fm3" value="fmthree" ng-model="formData.fm">
              <label class="text" for="fm3">
                       3
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="fm" id="fm4" value="fmfour" ng-model="formData.fm">
              <label class="text" for="fm4">
                      4
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="fm" id="fm5" value="fmfive" ng-model="formData.fm">
              <label class="text" for="fm5">
                      5
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="fm" id="fm6" value="fmsix" ng-model="formData.fm">
              <label class="text" for="fm6">
                      6
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="fm" id="fm7" value="fmseven" ng-model="formData.fm">
              <label class="text" for="fm7">
                      7
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="fm" id="fm8" value="fmeight" ng-model="formData.fm">
              <label class="text" for="fm8">
                      8
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="fm" id="fm9" value="fmnine" ng-model="formData.fm">
              <label class="text" for="fm9">
                      9
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="fm" id="fm10" value="fmten" ng-model="formData.fm">
              <label class="text" for="fm10">
                      10
                     </label>
            </div>
            <label class="pull-right f11">Masculine</label>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="form-group f30">
          <label>Do you see your Brand being Younger (1) or Mature (10)?</label>
          <div class="magic-form">
            <label class="pull-left f11">Younger</label>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ym" id="ym1" value="ymone" ng-model="formData.ym">
              <label class="text" for="ym1">
                      1
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ym" id="ym2" value="ymtwo" ng-model="formData.ym">
              <label class="text" for="ym2">
                      2
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ym" id="ym3" value="ymthree" ng-model="formData.ym">
              <label class="text" for="ym3">
                       3
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ym" id="ym4" value="ymfour" ng-model="formData.ym">
              <label class="text" for="ym4">
                      4
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ym" id="ym5" value="ymfive" ng-model="formData.ym">
              <label class="text" for="ym5">
                      5
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ym" id="ym6" value="ymsix" ng-model="formData.ym">
              <label class="text" for="ym6">
                      6
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ym" id="ym7" value="ymseven" ng-model="formData.ym">
              <label class="text" for="ym7">
                      7
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ym" id="ym8" value="ymeight" ng-model="formData.ym">
              <label class="text" for="ym8">
                      8
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ym" id="ym9" value="ymnine" ng-model="formData.ym">
              <label class="text" for="ym9">
                      9
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ym" id="ym10" value="ymten" ng-model="formData.ym">
              <label class="text" for="ym10">
                      10
                     </label>
            </div>
            <label class="pull-right f11">Mature</label>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>

    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group f30">

          <label>Do you see your Brand being more Affordable (1) or Luxurious (10)?</label>
          <div class="magic-form">
            <label class="pull-left f11">Affordable</label>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="al" id="al1" value="alone" ng-model="formData.al">
              <label class="text" for="al1">
                      1
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="al" id="al2" value="altwo" ng-model="formData.al">
              <label class="text" for="al2">
                      2
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="al" id="al3" value="althree" ng-model="formData.al">
              <label class="text" for="al3">
                       3
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="al" id="al4" value="alfour" ng-model="formData.al">
              <label class="text" for="al4">
                      4
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="al" id="al5" value="alfive" ng-model="formData.al">
              <label class="text" for="al5">
                      5
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="al" id="al6" value="alsix" ng-model="formData.al">
              <label class="text" for="al6">
                      6
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="al" id="al7" value="alseven" ng-model="formData.al">
              <label class="text" for="al7">
                      7
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="al" id="al8" value="aleight" ng-model="formData.al">
              <label class="text" for="al8">
                      8
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="al" id="al9" value="alnine" ng-model="formData.al">
              <label class="text" for="al9">
                      9
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="al" id="al10" value="alten" ng-model="formData.al">
              <label class="text" for="al10">
                      10
                     </label>
            </div>
            <label class="pull-right f11">Luxurious</label>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="form-group f30">
          <label>Do you see your Brand being more Classic (1) or Modern (10)?</label>
          <div class="magic-form">
            <label class="pull-left f11">Classic</label>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="cm" id="cm1" value="cmone" ng-model="formData.cm">
              <label class="text" for="cm1">
                      1
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="cm" id="cm2" value="cmtwo" ng-model="formData.cm">
              <label class="text" for="cm2">
                      2
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="cm" id="cm3" value="cmthree" ng-model="formData.cm">
              <label class="text" for="cm3">
                       3
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="cm" id="cm4" value="cmfour" ng-model="formData.cm">
              <label class="text" for="cm4">
                      4
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="cm" id="cm5" value="cmfive" ng-model="formData.cm">
              <label class="text" for="cm5">
                      5
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="cm" id="cm6" value="cmsix" ng-model="formData.cm">
              <label class="text" for="cm6">
                      6
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="cm" id="cm7" value="cmseven" ng-model="formData.cm">
              <label class="text" for="cm7">
                      7
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="cm" id="cm8" value="cmeight" ng-model="formData.cm">
              <label class="text" for="cm8">
                      8
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="cm" id="cm9" value="cmnine" ng-model="formData.cm">
              <label class="text" for="cm9">
                      9
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="cm" id="cm10" value="cmten" ng-model="formData.cm">
              <label class="text" for="cm10">
                      10
                     </label>
            </div>
            <label class="pull-right f11">Modern</label>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>

    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group f30">
          <label>Do you see your Brand being more Playful (1) or Serious (10)?</label>
          <div class="magic-form clearfix">
            <label class="pull-left f11">Playful</label>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ps" id="1" value="one" ng-model="formData.ps">
              <label class="text" for="1">
                      1
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ps" id="2" value="two" ng-model="formData.ps">
              <label class="text" for="2">
                      2
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ps" id="3" value="three" ng-model="formData.ps">
              <label class="text" for="3">
                       3
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ps" id="4" value="four" ng-model="formData.ps">
              <label class="text" for="4">
                      4
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ps" id="5" value="five" ng-model="formData.ps">
              <label class="text" for="5">
                      5
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ps" id="6" value="six" ng-model="formData.ps">
              <label class="text" for="6">
                      6
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ps" id="7" value="seven" ng-model="formData.ps">
              <label class="text" for="7">
                      7
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ps" id="8" value="eight" ng-model="formData.ps">
              <label class="text" for="8">
                      8
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ps" id="9" value="nine" ng-model="formData.ps">
              <label class="text" for="9">
                      9
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="ps" id="10" value="ten" ng-model="formData.ps">
              <label class="text" for="10">
                      10
                     </label>
            </div>
            <label class="pull-right f11">Serious</label>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <label>What do you want your customers to feel when interacting with the Brand? (Again, pick as many as you think apply)</label>
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Happiness" value="Happinesss" name="interacting" ng-model="formData.interacting.Happinesss">
            <label class="text" for="Happiness">
                             Happiness
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Surprise" value="Surprises" name="interacting" ng-model="formData.interacting.Surprises">
            <label class="text" for="Surprise">
                              Surprise
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Inspiration" value="Inspirations" name="interacting" ng-model="formData.interacting.Inspirations">
            <label class="text" for="Inspiration">
                          Inspiration
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Anxiety" value="Anxietys" name="interacting" ng-model="formData.interacting.Anxietys">
            <label class="text" for="Anxiety">
                               Anxiety
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Temptation" value="Temptations" name="interacting" ng-model="formData.interacting.Temptations">
            <label class="text" for="Temptation">
                              Temptation
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Relief" value="Reliefs" name="interacting" ng-model="formData.interacting.Reliefs">
            <label class="text" for="Relief">
                             Relief
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Entertainment" value="Entertainments" name="interacting" ng-model="formData.interacting.Entertainments">
            <label class="text" for="Entertainment">
                            Entertainment
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Empowerment" value="Empowerments" name="interacting" ng-model="formData.interacting.Empowerments">
            <label class="text" for="Empowerment">
                            Empowerment
                            </label>
          </div>

          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Nostalgia" value="Nostalgias" name="interacting" ng-model="formData.interacting.Nostalgias">
            <label class="text" for="Nostalgia">
                           
                            Nostalgia
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Provocation" value="Provocations" name="interacting" ng-model="formData.interacting.Provocations">
            <label class="text" for="Provocation">
                         Provocation
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="functionality" value="functionalitys" name="interacting" ng-model="formData.interacting.functionalitys">
            <label class="text" for="functionality">
                          Some specific unique/custom functionality.
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="SatisfactionIcon" value="Satisfactions" name="interacting" ng-model="formData.interacting.Satisfactions">
            <label class="text" for="SatisfactionIcon">
                           Satisfaction
                            </label>
          </div>
          <div class="magic-resize resizing">
            <label>Other or if you want to elaborate:</label>
            <input type="text" class="form-control textbox-other" placeholder="Please mention other">
            <!--<input class="magic-checkbox" type="checkbox" id="interother" value="interactsoher" name="interactother" ng-model="formData.interactother.interactsoher">
            <label class="labewidtxt" for="interother">
                               Other:
                            </label>-->
          </div>

        </div>
      </div>
      <div class="col-md-1"></div>

    </div>
    <h4>Brand Design</h4>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>What colors do you associate with the brand? (Pick up to 3)</label>
          <input type="text" name="colors" ng-model="formData.colors" class="form-control">
          <div class="error-msg" ng-if="brandForm.colors.$invalid && brandForm.colors.$touched">Please Enter Colors</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>What type of logo(s) do you prefer for the Brand?</label>
        <div class="magic-form">
          <div class="magic-resize">
            <img src="img/shell.png" class="img-responsive" alt="brands">
            <img src="img/mozila.png" class="img-responsive" alt="brands">
            <input class="magic-checkbox" type="checkbox" id="Icon" value="Icons" name="logo" ng-model="formData.logo.Icons">
            <label class="text" for="Icon">
                            Symbol/Icon
                            </label>
          </div>
          <div class="magic-resize">
            <img src="img/facebook.png" class="img-responsive" alt="brands">
            <img src="img/patriot.png" class="img-responsive" alt="brands">
            <input class="magic-checkbox" type="checkbox" id="Word" value="Words" name="logo" ng-model="formData.logo.Words">
            <label class="text" for="Word">
                         Word Mark
                            </label>
          </div>
          <div class="magic-resize">
            <img src="img/chanel.png" class="img-responsive" alt="brands">
            <img src="img/louis.png" class="img-responsive" alt="brands">
            <input class="magic-checkbox" type="checkbox" id="Letter" value="Letters" name="logo" ng-model="formData.logo.Letters">
            <label class="text" for="Letter">
                       Letter Mark
                            </label>
          </div>
          <div class="magic-resize">
            <img src="img/airlines.png" class="img-responsive" alt="brands">
            <img src="img/unilever.jpg" class="img-responsive" alt="brands">
            <input class="magic-checkbox" type="checkbox" id="Combination" value="Combinations" name="logo" ng-model="formData.logo.Combinations">
            <label class="text" for="Combination">
                          
Combination Mark
                            </label>
          </div>
          <div class="magic-resize">
            <img src="img/starbucks.png" class="img-responsive" alt="brands">
            <img src="img/bmw.png" class="img-responsive" alt="brands">
            <input class="magic-checkbox" type="checkbox" id="Emblem" value="Emblems" name="logo" ng-model="formData.logo.Emblems">
            <label class="text" for="Emblem">
                            
Emblem
                            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label>What font(s) do you prefer for the Brand?</label>
        <div class="magic-form">
          <div class="magic-resize">
            <img src="img/font1.png" class="img-responsive" alt="brands">
            <input class="magic-checkbox" type="checkbox" id="Classic" value="Classics" name="prefer" ng-model="formData.prefer.Classics">
            <label class="text" for="Classic">
                           Classic
                            </label>
          </div>
          <div class="magic-resize">
            <img src="img/font2.png" class="img-responsive" alt="brands">
            <input class="magic-checkbox" type="checkbox" id="Modern" value="Moderns" name="prefer" ng-model="formData.prefer.Moderns">
            <label class="text" for="Modern">
                       Modern
                            </label>
          </div>
          <div class="magic-resize">
            <img src="img/font3.png" class="img-responsive" alt="brands">
            <input class="magic-checkbox" type="checkbox" id="Script" value="Scripts" name="prefer" ng-model="formData.prefer.Scripts">
            <label class="text" for="Script">
                         Script
                            </label>
          </div>
          <div class="magic-resize">
            <img src="img/font4.png" class="img-responsive" alt="brands">
            <input class="magic-checkbox" type="checkbox" id="Hand" value="Hands" name="prefer" ng-model="formData.prefer.Hands">
            <label class="text" for="Hand">
                           Hand Written
                            </label>
          </div>
          <div class="magic-resize">
            <img src="img/font5.png" class="img-responsive" alt="brands">
            <input class="magic-checkbox" type="checkbox" id="Bold" value="Bolds" name="prefer" ng-model="formData.prefer.Bolds">
            <label class="text" for="Bold">
                            
Bold
                            </label>
          </div>
          <div class="magic-resize">
            <img src="img/font6.png" class="img-responsive" alt="brands">
            <input class="magic-checkbox" type="checkbox" id="Customised" value="Customiseds" name="prefer" ng-model="formData.prefer.Customiseds">
            <label class="text" for="Customised">
                            
Customised
                            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label> What are the brand’s origins? (How did it start, where did the idea come from, etc)</label>
          <input type="text" name="origins" ng-model="formData.origins" class="form-control">
          <!--<div class="error-msg" ng-if="brandForm.origins.$invalid && brandForm.origins.$touched">Please Enter brands origins</div>-->
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Where does the brand want to be in the next 5-10 years?</label>
          <input type="text" name="next" ng-model="formData.next" class="form-control">
          <!--<div class="error-msg" ng-if="brandForm.next.$invalid && brandForm.next.$touched">Please Enter where brand wants to be</div>-->
        </div>
      </div>
    </div>
    <h4>Finishing Up</h4>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <label>Where all do you intend to use your Brand identity to communicate with the world?</label>
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="print" value="prints" name="intention" ng-model="formData.intention.prints">
            <label class="text" for="print">
                            Print
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Online" value="Onlines" name="intention" ng-model="formData.intention.Onlines">
            <label class="text" for="Online">
                           Online (Website, Social Media, Email)
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Video" value="Videos" name="intention" ng-model="formData.intention.Videos">
            <label class="text" for="Video">
                          Video
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Event" value="Events" name="intention" ng-model="formData.intention.Events">
            <label class="text" for="Event">
                            Events and Experiences
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Mobile" value="Mobiles" name="intention" ng-model="formData.intention.Mobiles">
            <label class="text" for="Mobile">
                            
Mobile
                            </label>
          </div>
          <div class="magic-resize resizing">
            <label>Other:</label>
            <input type="text" class="form-control textbox-other" placeholder="Please mention other">
            <!--<input class="magic-checkbox" type="checkbox" id="brandoh" value="othr" name="brandothers" ng-model="formData.brandothers.othr">
            <label class="labewidtxt" for="brandoh">
                               Other:
                            </label>-->
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label> Is there something in particular you love and want your brand identity to include?</label>
          <input type="text" name="identity" ng-model="formData.identity" class="form-control">
          <!--<div class="error-msg" ng-if="brandForm.identity.$invalid && brandForm.identity.$touched">Please Enter Something You Love</div>-->
        </div>
      </div>
    </div>

    <!--<div class="magic-form text-center">
      <div class="magic-resize termobile">
        <input class="magic-checkbox" type="checkbox" id="terms" name="terms" value="true" required ng-model="formData.termsConditions">
        <label class="text text-left" for="terms">
               I have read and accept the&nbsp;<u>Terms &amp; Conditions</u>
            </label>
      </div>
    </div>-->

    <div class="form-group text-center mt25 ">
      <button type="submit" class="btn btn-primary butn btn-lg sub-btn" ng-disabled="brandForm.$invalid"> <span ng-if="brandForm.$invalid">Please Enter Mandatory Fields</span> <span ng-if="!brandForm.$invalid">Submit</span></button>


    </div>
  </form>
  <div class="submit-thank" ng-if="formComplete">
    <p class="text-center">Thank You</p>
  </div>
</div>