<div class="container main-form" ng-if="!formComplete">
  <h3 class="text-center text-uppercase">Please enter the below details</h3>
  <form name="brandForm" class="mid-form" ng-submit="submitBrandForm(formData)" ng-if="!formComplete">
    <h4>Basic Information</h4>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label> Name*</label>
          <input type="text" name="firstName" ng-model="formData.firstName" class="form-control" required aplha-only>
          <div class="error-msg" ng-if="brandForm.firstName.$invalid && brandForm.firstName.$touched">Please Enter Your First Name</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Company</label>
          <input type="text" name="company" ng-model="formData.company" class="form-control" required aplha-only>
          <div class="error-msg" ng-if="brandForm.company.$invalid && brandForm.company.$touched">Please Enter Your Company Name</div>
        </div>
      </div>
    </div>
    <h4>Getting Started</h4>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Does your brand have a name?</label>
          <div class="magic-form">
            <div class="magic-resize">
              <input class="magic-radio" type="radio" name="demos" id="ya" value="true" ng-model="formData.demos">
              <label class="text" for="ya">
                        Yes
                     </label>
            </div>
            <div class="magic-resize">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                        No
                     </label>
            </div>
            <div class="magic-resize">
              <input class="magic-radio" type="radio" name="demos" id="rother" value="none" ng-model="formData.demos">
              <label class="text" for="rother">
                        other
                     </label>
            </div>
            <input ng-model="formData.demos" type="text" class="form-control textbox-other" placeholder="Please mention other" ng-if="formData.demos.none">
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>What have you set out to accomplish with your brand?</label>
          <div class="magic-form">
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="need" ng-model="formData.accomplish.need" id="fulfill">
              <label class="text" for="fulfill">
                             Fulfill a need
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="Spread" ng-model="formData.accomplish.Spread" id="happiness">
              <label class="text" for="happiness">
                              Spread happiness
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="Promote" ng-model="formData.accomplish.Promote" id="living">
              <label class="text" for="living">
                            Promote healthy living
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="Provide" ng-model="formData.accomplish.Provide" id="enjoyment">
              <label class="text" for="enjoyment">
                              Provide entertainment and enjoyment
                            </label>
            </div>

            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="Create" ng-model="formData.accomplish.Create" id="awareness">
              <label class="text" for="awareness">
                             Create understanding and awareness
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="Inspire" ng-model="formData.accomplish.Inspire" id="creativity">
              <label class="text" for="creativity">
                            Inspire creativity and self-expression
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="care" ng-model="formData.accomplish.care" id="people">
              <label class="text" for="people">
                           Take care of people
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="accomplish" value="Enable" ng-model="formData.accomplish.Enable" id="emotional">
              <label class="text" for="emotional">
                           Enable emotional connection
                            </label>
            </div>


            <div class="magic-resize">
              <input class="magic-checkbox" name="brandother" type="checkbox" value="bothers" id="brandother" ng-model="formData.brandother.bothers">
              <label class="labewidtxt" for="brandother">
                               Other:
                            </label>

            </div>
            <input ng-model="formData.brandother" type="text" class="form-control textbox-other" placeholder="Please mention other" ng-if="formData.brandother.bothers">
          </div>
        </div>
      </div>
    </div>

    <h4> Brand characteristics</h4>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Which of the following characteristics best describe the personality you want your brand to have? (Choose as many as you please!)</label>          Unconventional
          <div class="magic-form">
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="practical" ng-model="formData.personality.need" id="practi">
              <label class="text" for="practi">
                           Practical
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Spread" ng-model="formData.personality.Spread" id="happiness">
              <label class="text" for="happiness">
                            Inventive
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Promote" ng-model="formData.personality.Promote"
                id="living">
              <label class="text" for="living">
                          Funny
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Provide" ng-model="formData.personality.Provide"
                id="enjoyment">
              <label class="text" for="enjoyment">
                           Leader
                            </label>
            </div>

            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Create" ng-model="formData.personality.Create" id="awareness">
              <label class="text" for="awareness">
                          Powerful
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Inspire" ng-model="formData.personality.Inspire"
                id="creativity">
              <label class="text" for="creativity">
                           Dependable
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="care" ng-model="formData.personality.care" id="people">
              <label class="text" for="people">
                          Protective
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                         Creative
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                         Optimistic
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                       Nurturing
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                       Realistic
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                        Adventurous
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                        Entertaining
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                       Imaginative
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                        Artistic
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                     Truthful
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                      Mischievous
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                      Ambitious
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                     Helpful
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                     Innovative
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                    Functional
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                  Thoughtful
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                 Strong
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                 Wise
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
                 Rebellious
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
               Liberating
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
             Romantic
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
             Enthusiastic
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
           Intimate
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
            Simple
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
        Brave
                            </label>
            </div>
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="personality" value="Enable" ng-model="formData.personality.Enable" id="emotional">
              <label class="text" for="emotional">
         Honest
                            </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group f30">
          <label>Do you see your Brand being more Feminine (1) or Masculine (10)?</label>
          <div class="magic-form">
            <label class="pull-left">Feminine</label>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="ya" value="true" ng-model="formData.demos">
              <label class="text" for="ya">
                      1
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      2
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="rother" value="none" ng-model="formData.demos">
              <label class="text" for="rother">
                       3
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      4
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      5
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      6
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      7
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      8
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      9
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      10
                     </label>
            </div>
            <label class="pull-right">Masculine</label>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="form-group f30">
          <label>Do you see your Brand being Younger (1) or Mature (10)?</label>
          <div class="magic-form">
            <label class="pull-left">Feminine</label>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="ya" value="true" ng-model="formData.demos">
              <label class="text" for="ya">
                      1
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      2
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="rother" value="none" ng-model="formData.demos">
              <label class="text" for="rother">
                       3
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      4
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      5
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      6
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      7
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      8
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      9
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      10
                     </label>
            </div>
            <label class="pull-right">Masculine</label>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>

    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group f30">
          <label>Do you see your Brand being more Feminine (1) or Masculine (10)?</label>
          <div class="magic-form">
            <label class="pull-left">Feminine</label>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="ya" value="true" ng-model="formData.demos">
              <label class="text" for="ya">
                      1
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      2
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="rother" value="none" ng-model="formData.demos">
              <label class="text" for="rother">
                       3
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      4
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      5
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      6
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      7
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      8
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      9
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      10
                     </label>
            </div>
            <label class="pull-right">Masculine</label>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="form-group f30">
          <label>Do you see your Brand being more Feminine (1) or Masculine (10)?</label>
          <div class="magic-form">
            <label class="pull-left">Feminine</label>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="ya" value="true" ng-model="formData.demos">
              <label class="text" for="ya">
                      1
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      2
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="rother" value="none" ng-model="formData.demos">
              <label class="text" for="rother">
                       3
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      4
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      5
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      6
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      7
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      8
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      9
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      10
                     </label>
            </div>
            <label class="pull-right">Masculine</label>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>

    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group f30">
          <label>Do you see your Brand being more Feminine (1) or Masculine (10)?</label>
          <div class="magic-form">
            <label class="pull-left">Feminine</label>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="ya" value="true" ng-model="formData.demos">
              <label class="text" for="ya">
                      1
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      2
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="rother" value="none" ng-model="formData.demos">
              <label class="text" for="rother">
                       3
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      4
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      5
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      6
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      7
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      8
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      9
                     </label>
            </div>
            <div class="magic-resizes">
              <input class="magic-radio" type="radio" name="demos" id="na" value="false" ng-model="formData.demos">
              <label class="text" for="na">
                      10
                     </label>
            </div>
            <label class="pull-right">Masculine</label>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <label>What do you want your customers to feel when interacting with the Brand? (Again,pick as many as you think apply)</label>
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Happiness" value="Happinesss" name="interacting" ng-model="formData.interacting.Happinesss">
            <label class="text" for="Happiness">
                             Happiness
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Surprise" value="Surprises" name="interacting" ng-model="formData.interacting.Surprises">
            <label class="text" for="Surprise">
                              Surprise
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Inspiration" value="Inspirations" name="interacting" ng-model="formData.interacting.Inspirations">
            <label class="text" for="Inspiration">
                          Inspiration
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Anxiety" value="Anxietys" name="interacting" ng-model="formData.interacting.Anxietys">
            <label class="text" for="Anxiety">
                               Anxiety
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Temptation" value="Temptations" name="interacting" ng-model="formData.interacting.Temptations">
            <label class="text" for="Temptation">
                              Temptation
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Relief" value="Reliefs" name="interacting" ng-model="formData.interacting.Reliefs">
            <label class="text" for="Relief">
                             Relief
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Entertainment" value="Entertainments" name="interacting" ng-model="formData.interacting.Entertainments">
            <label class="text" for="Entertainment">
                            Entertainment
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Empowerment" value="Empowerments" name="interacting" ng-model="formData.interacting.Empowerments">
            <label class="text" for="Empowerment">
                            Empowerment
                            </label>
          </div>

          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Nostalgia" value="Nostalgias" name="interacting" ng-model="formData.interacting.Nostalgias">
            <label class="text" for="Nostalgia">
                           
                            Nostalgia
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Provocation" value="Provocations" name="interacting" ng-model="formData.interacting.Provocations">
            <label class="text" for="Provocation">
                         Provocation
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="functionality" value="functionalitys" name="interacting" ng-model="formData.interacting.functionalitys">
            <label class="text" for="functionality">
                          Some specific unique/custom functionality.
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="SatisfactionIcon" value="Satisfactions" name="interacting" ng-model="formData.interacting.Satisfactions">
            <label class="text" for="SatisfactionIcon">
                           Satisfaction
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="interother" value="interactsoher" name="interactother" ng-model="formData.interactother.interactsoher">
            <label class="labewidtxt" for="interother">
                               Other:
                            </label>
          </div>
          <input ng-model="formData.interactother" type="text" class="form-control textbox-other" placeholder="Please mention other"
            ng-if="formData.interactother.interactsoher">
        </div>
      </div>
      <div class="col-md-1"></div>

    </div>
    <h4>Brand Design</h4>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>What colors do you associate with the brand? (Pick up to 3)</label>
          <input type="text" name="colors" ng-model="formData.colors" class="form-control">
          <div class="error-msg" ng-if="brandForm.colors.$invalid && brandForm.colors.$touched">Please Enter Colors</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>What type of logo(s) do you prefer for the Brand?</label>
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Icon" value="Icons" name="logo" ng-model="formData.logo.Icons">
            <label class="text" for="Icon">
                            Symbol/Icon
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Word" value="Words" name="logo" ng-model="formData.logo.Words">
            <label class="text" for="Word">
                         Word Mark
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Letter" value="Letters" name="logo" ng-model="formData.logo.Letters">
            <label class="text" for="Letter">
                       Letter Mark
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Combination" value="Combinations" name="logo" ng-model="formData.logo.Combinations">
            <label class="text" for="Combination">
                          
Combination Mark
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Emblem" value="Emblems" name="logo" ng-model="formData.logo.Emblems">
            <label class="text" for="Emblem">
                            
Emblem
                            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label>What font(s) do you prefer for the Brand?</label>
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Classic" value="Classics" name="prefer" ng-model="formData.prefer.Classics">
            <label class="text" for="Classic">
                           Classic
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Modern" value="Moderns" name="prefer" ng-model="formData.prefer.Moderns">
            <label class="text" for="Modern">
                       Modern
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Script" value="Scripts" name="prefer" ng-model="formData.prefer.Scripts">
            <label class="text" for="Script">
                         Script
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Hand" value="Hands" name="prefer" ng-model="formData.prefer.Hands">
            <label class="text" for="Hand">
                           Hand Written
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Bold" value="Bolds" name="prefer" ng-model="formData.prefer.Bolds">
            <label class="text" for="Bold">
                            
Bold
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Customised" value="Customiseds" name="prefer" ng-model="formData.prefer.Customiseds">
            <label class="text" for="Customised">
                            
Customised
                            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label> What are the brand’s origins? (How did it start, where did the idea come from, etc)</label>
          <input type="text" name="origins" ng-model="formData.origins" class="form-control">
          <div class="error-msg" ng-if="brandForm.origins.$invalid && brandForm.origins.$touched">Please Enter brands origins</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Where does the brand want to be in the next 5-10 years?</label>
          <input type="text" name="next" ng-model="formData.next" class="form-control">
          <div class="error-msg" ng-if="brandForm.next.$invalid && brandForm.next.$touched">Please Enter where brand wants to be</div>
        </div>
      </div>
    </div>
    <h4>Finishing Up</h4>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <label>Where all do you intend to use your Brand identity to communicate with the world?</label>
        <div class="magic-form">
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="print" value="prints" name="intention" ng-model="formData.intention.prints">
            <label class="text" for="print">
                            Print
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Online" value="Onlines" name="intention" ng-model="formData.intention.Onlines">
            <label class="text" for="Online">
                           Online (Website, Social Media, Email)
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Video" value="Videos" name="intention" ng-model="formData.intention.Videos">
            <label class="text" for="Video">
                          Video
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Event" value="Events" name="intention" ng-model="formData.intention.Events">
            <label class="text" for="Event">
                            Events and Experiences
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="Mobile" value="Mobiles" name="intention" ng-model="formData.intention.Mobiles">
            <label class="text" for="Mobile">
                            
Mobile
                            </label>
          </div>
          <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="brandoh" value="othr" name="brandothers" ng-model="formData.brandothers.othr">
            <label class="labewidtxt" for="brandoh">
                               Other:
                            </label>
          </div>
          <input ng-model="formData.brandothers" type="text" class="form-control textbox-other" placeholder="Please mention other"
            ng-if="formData.brandothers.othr">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label> Is there something in particular you love and want your brand identity to include?</label>
          <input type="text" name="identity" ng-model="formData.identity" class="form-control">
          <div class="error-msg" ng-if="brandForm.identity.$invalid && brandForm.identity.$touched">Please Enter Something You Love</div>
        </div>
      </div>
    </div>

    <div class="magic-form text-center">
      <div class="magic-resize">
        <input class="magic-checkbox" type="checkbox" id="terms" name="terms" value="true" required ng-model="formData.termsConditions">
        <label class="text text-left" for="terms">
               I have read and accept the&nbsp;<u>Terms &amp; Conditions</u>
            </label>
      </div>
    </div>

    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary butn btn-lg sub-btn" ng-disabled="brandForm.$invalid"><span>Submit</span></button>
      <!-- <span ng-if="webForm.$invalid">Please Enter Compulsory fields</span> -->

    </div>
  </form>

</div>